.cardContent {
  display: flex;
  width: 400px;
  height: 120px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
.card {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 100px;
}

.cardContent.active {
  background-color: hsla(0, 0%, 100%, 0.3);
}
.infor {
  /* box-sizing: border-box; */
  color: white;
  font-size: 14px;
  padding: 8px;
  line-height: 10px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.cardContent img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
.infor p {
  color: hsla(0, 0%, 100%, 0.5);
  margin-bottom: 10px;
}

.cardContent .option {
  opacity: 0;
}

.cardContent:hover {
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.cardContent:hover .option {
  padding: 16px 8px;
  color: #999;
  font-size: 21px;
  position: absolute;
  right: 15px;
  opacity: 1;
}

.title {
  font-size: 14px;
  color: white;
  padding-bottom: 10px;
}
