html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  inherits: inherit;
}

.App {
  overflow: auto;
  &__container {
    position: absolute;
    top: 14.4rem;
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
  }
}
