.nav {
  background-color: #fff;

  &__inner {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo a img {
    max-width: 2rem;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    .menu__item {
      margin: 0 1rem;
      position: relative;
      &:hover .menu__item--child {
        opacity: 1;
        visibility: visible;
      }
      &--child {
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        width: max-content;
        max-height: 200px;
        background-color: #00aefd;
        font-size: 1.4rem;
        text-transform: capitalize;
        border-top: 1px solid #333;
        transition: 0.24s linear;
        cursor: pointer;
        ul {
          list-style: none;
          li {
            padding: 1.5rem;
            &:hover {
              background-color: #fff;
            }
          }
        }
      }
    }
    .menu__link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      color: black;
      display: block;
      padding: 2rem;
      &:hover {
        background-color: #87d2f4;
      }
    }
    .active {
      background-color: #00aefd;
    }
  }

  .form-group {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 0.2;
    text-transform: capitalize;
    color: #ffffff;
    height: 3.6rem;
    .active {
      background-color: #00aefd;
      color: #fff;
      border: 1px solid #333;
    }
    a {
      text-decoration: none;
      margin: 0 1rem;
      padding: 1rem 2rem;
      border-radius: 1rem;
    }
  }
}
