.footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #888;
  width: 100%;
  height: 40px;
}

.footer select {
  height: 80%;
}
