@import "../../../../utils/mixin/_mixin.scss";
@import "../../../../utils/mixin/_variable.scss";

.home__released-games {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 11rem 0 7rem 0;
  .realeased-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d4d4d4;
    flex-basis: 50%;
    width: 40%;
    margin-bottom: 2rem;
    h2 {
      color: #1c1121;
      font-family: Oxanium;
      font-size: 36px;
      font-weight: 800;
      letter-spacing: -2px;
      line-height: 36px;
      margin: 0px 0px 10px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      color: #6c6c6c;
      font-family: Poppins;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
      margin: 1rem 0;
    }
    img {
      width: 70%;
    }
  }
  .home__released-list {
    @include flex(row, center, center, wrap);
    flex-grow: 1;
  }
  .list-item {
    width: 60%;
    .item {
      @include flex(row, center, center, nowrap);
      flex-grow: 2;
      background: #fff;
      box-shadow: 0px 1px 13px 0px rgb(128 18 40 / 10%);
      position: relative;
      z-index: 1;
      padding: 2rem;

      .item-description {
        height: 100%;
        margin: 4.4rem;
        font-weight: 500;
        line-height: 22.5px;
        text-align: left;
        font-family: Poppins;

        h5 {
          color: #413b43;
          font-family: Poppins;
          font-weight: 700;
          line-height: 19.2px;
          margin: 0px 10px 0px 0px;
          text-align: left;
        }
        h4 {
          color: #1c1121;
          display: inline-block;
          font-family: Poppins;
          font-size: 20px;
          font-weight: 700;
          line-height: 50px;
          margin: 0px 0px 30px;
          text-align: left;
        }
        ul {
          list-style: none;
          li {
            span {
              color: #413b43;
              display: inline;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 21px;
              margin: 0px 20px 0px 0px;
              text-align: left;
            }
            color: #6c6c6c;
            font-weight: 500;
          }
        }
        p {
          color: #6c6c6c;
          font-size: 14px;
          font-weight: 500;
          line-height: 28px;
          padding-top: 1rem;
          margin: 0px 0 3rem;
          text-align: left;
        }
        a {
          background-color: $span-color;
          color: #1c1121;
          width: max-content;
          display: inline-block;
          font-family: Poppins;
          font-size: 15px;
          font-weight: 700;
          line-height: 15px;
          margin: 3rem 0 0 0;
          padding: 20px 35px;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          transform: skew(-20deg);
          &::before {
            content: "";
            position: absolute;
            right: -13px;
            top: 0;
            height: 100%;
            width: 5px;
            z-index: 1;
            opacity: 1;
            background-image: none;
            bottom: 0;
            border-radius: 0;
            left: auto;
            background-color: #e4a101;
            transition: 0.5s linear;
          }
          &:hover::before {
            right: 0;
          }
        }
      }
    }
  }
  .list-menu {
    width: 35%;
    height: 100%;
    @include flex(column, center, center, wrap);
    flex-grow: 1;
  }
}
